* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.caps {
  text-transform: uppercase;
}

body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0;
  /*background-color: #B5D5CA;*/
  background-image: none;
  background-size: cover;
  /*background-position: bottom right;*/
}

nav {
  display: flex;
  flex-direction: column;
  width: 11vw;
  padding: 3vw 2vw;
}

nav h2 {
  text-decoration: none;
  color: black;
  margin: 2vh;
  font-size: 1.15vw;
  cursor: pointer;
}

#stage {
  width: 78vw;
  overflow: scroll;
}

#social-media {
  width: 11vw;
}

#header {
  position: relative;
  height: 20%;
  text-align: center;
  display: none;
}

#content-wrapper {
  position: relative;
  height: 80%;
  transition: 2s ease;
}

/* LANDING VIEW */

#welcome-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 2s ease;
}

#name {
  font-size: 3vw;
  letter-spacing: 0.8vw;
  margin-top: 3vw;
}

#tag {
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
}

/* RESUME VIEW */

#resume-wrapper {
  position: relative;
  width: 100%;
  transition: 2s ease;
}

#resume-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto 2vw;
}

#resume-button-wrapper button {
  border: 1px solid black;
  padding: 1.5vw;
  font-size: 1.3vw;
  background-color: transparent;
  width: 15vw;
  margin: auto 3.5vw;
}

#resume {
  position: relative;
  width: 50vw;
  height: 100vh;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

/* GALLERY VIEW */

#gallery-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#gallery-wrapper img{
  position: relative;
  display: inline;
  width: auto;
  height: 25vw;
  margin: 1vw;
}

#gallery-wrapper img:nth-of-type(2),
#gallery-wrapper img:nth-of-type(4),
#gallery-wrapper img:nth-of-type(6) {
  flex-grow: 2;
}

#gallery-wrapper img:nth-of-type(1),
#gallery-wrapper img:nth-of-type(9),
#gallery-wrapper img:nth-of-type(5)
#gallery-wrapper img:nth-of-type(7) {
  flex-shrink: 1;
}

/* REEL VIEW */

/* CONNECT VIEW */

#connect-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1vw;
}

#connect-wrapper-left {
  position: relative;
  width: 45%;
  text-align: center;
}

#connect-wrapper-right {
  width: 55%;
}

#connect-wrapper-right input,
#connect-wrapper-right textarea {
  width: 100%;
  font-size: 1.25vw;
  padding: 5px;
  margin: 1vh auto;
  background-color: white;
  border: 1px solid white;
  opacity: 0.3;
}

#connect-wrapper-right input:valid,
#connect-wrapper-right textarea:valid,
#connect-wrapper-right input:hover,
#connect-wrapper-right textarea:hover {
  opacity: 0.8;
}

#connect-wrapper-right input:nth-of-type(3) {
  width: 30%;
  background-color: transparent;
  border: 1px solid white;
  padding: 1vw;
  opacity: 1;
  cursor: pointer;
}

#connect-wrapper-right input:nth-of-type(3):hover {
  background-color: white;
}
